@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
* h1, * h2, * h3, * h4, * h5, * h6 {
  font-family: "Sarabun", sans-serif;
  font-weight: 300;
}
* .img {
  max-width: 100%;
}

.logo {
  width: 200px;
}

.nav-item :hover {
  background-color: blue;
  padding: 0.1rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body .main {
  flex-grow: 1;
}

.hero {
  background-color: gray;
  color: white;
  padding: 4rem;
}

.hero-container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin-inline: auto;
}

.animate__animated {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounceIn;
  animation-duration: 2s;
}

.hero-title {
  text-align: center;
  font-weight: 800;
  padding-bottom: 1rem;
}

.hero-text1 {
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-align: justify;
}

.hero-text2 {
  margin-bottom: 1rem;
  text-align: justify;
  margin-bottom: 2rem;
}

.btn {
  background-color: black;
  color: gray;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  margin: 10px;
  display: block;
}

.btn:hover {
  transform: scale(1.2);
  background-color: blue;
}

.hero2 {
  padding-block: 2rem;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero2-text {
  color: black;
  font-weight: 800;
}

.banner {
  width: 100%;
  flex-wrap: wrap;
  padding: 1rem;
}

.galeria {
  padding-block: 1rem;
  gap: 2rem;
}

.galeria-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 800;
}

.galeria-container {
  display: flex;
  max-width: 1000px;
  margin-inline: auto;
  gap: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.foto1:hover {
  transform: scale(1.2);
}

.foto2:hover {
  transform: scale(1.2);
}

.foto3:hover {
  transform: scale(1.2);
}

.galeria-foto {
  width: 100%;
}
.galeria-foto .galeria-foto img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__container {
  flex-direction: column;
  padding-inline: 2rem;
}

.hero-info {
  flex-direction: column;
  padding-inline: 2rem;
}

.container-sitiosweb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.caja-izquierda {
  flex: 1;
  padding: 10px;
}

.texto1-lado {
  flex: 1;
  text-align: center;
  padding: 20px;
  text-align: justify;
}

.imagen1-sitiosweb {
  max-width: 100%;
  height: auto;
  display: block;
}

.linea-web {
  width: 100%;
  flex-wrap: wrap;
  padding: 1rem;
  color: white;
}

.linea-web {
  background-color: rgb(104, 30, 37);
  padding-block: 1rem;
  text-align: center;
  font-weight: 800;
}

.linea-web:hover {
  transform: rotateX(20deg);
}

.galeria-web {
  padding-block: 2rem;
}

.galeria-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 800;
}

.galeriaweb-container {
  display: flex;
  max-width: 1000px;
  margin-inline: auto;
  gap: 2rem;
  margin-bottom: 2rem;
}

.galeriaweb-foto {
  width: 100%;
}

.galeriaweb-foto img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.barra-web {
  width: 100%;
  flex-wrap: wrap;
  padding: 1rem;
}

.barra-web {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgb(0, 81, 255);
  top: 0;
  left: 0;
  width: 100%;
}

.barra {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.parrafo-container {
  background-color: rgb(196, 52, 52);
  color: rgb(0, 0, 0);
  padding: 6rem;
}

.galeria-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 800;
}

.galeria3-container {
  display: flex;
  max-width: 1000px;
  margin-inline: auto;
  gap: 2rem;
  margin-bottom: 2rem;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.galeria-foto {
  width: 100%;
}

.galeria-foto img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero3 {
  padding-block: 0, 3rem;
  background-color: rgb(1, 90, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero3-text1 {
  text-decoration: none;
}

.hero3-text2 {
  color: black;
  font-weight: 600;
}

.hero3-text2:hover {
  transform: rotatez(-5deg);
}

.galeria-clientes {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galeria-title3 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 800;
  padding: 1rem;
}

.iconos-marketing {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin-inline: auto;
  gap: 2rem;
}

.iconos {
  background-color: rgb(168, 255, 37);
  color: black;
  padding-block: 2rem;
  padding: 1rem;
}

.icono {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.icono > div {
  border: 2px solid black;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icono-icon {
  font-size: 2rem;
}

.icon {
  float: right;
}

.hero3-text {
  text-decoration: none;
}

.banner-consultoria {
  width: 100%;
  flex-wrap: wrap;
  padding: 1rem;
}

.banner-consultoria {
  background-color: green;
  padding-block: 2rem;
  text-align: center;
  font-weight: 800;
}

.container-consultoria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.caja-izquierda {
  flex: 1;
  padding: 10px;
}

.texto-lado {
  flex: 1;
  text-align: center;
  padding: 20px;
  text-align: justify;
}

.imagen1-consultoria {
  max-width: 100%;
  height: auto;
  display: block;
}

.linea {
  width: 100%;
  flex-wrap: wrap;
  padding: 1rem;
}

.linea {
  background-color: rgb(130, 185, 130);
  padding-block: 1rem;
  text-align: center;
  font-weight: 800;
}

.texto2-lado {
  flex: 1;
  text-align: justify;
  padding: 20px;
}

.container2-consultoria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.caja-derecha {
  flex: 1;
  padding: 10px;
}

.imagen2-consultoria {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner-caracteristicas {
  width: 100%;
  flex-wrap: wrap;
  padding: 1rem;
}

.banner-caracteristicas {
  background-color: rgb(255, 0, 0);
  padding-block: 1rem;
  text-align: center;
  font-weight: 800;
}

@media (max-with: 768px) {
  .container-consultoria {
    flex-direction: column;
  }
  .caja-izquierda, .caja-derecha {
    flex: none;
    max-width: 100%;
  }
}
.clientes {
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 2rem;
  font-weight: 800;
  flex-wrap: wrap;
  gap: 4rem;
}

.clientes:hover {
  color: blue;
  background-color: yellow;
}

.container-img {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}

.container-img .box-img figure {
  width: 100%;
  height: 100%;
}

.container-img .box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-img .box-img:nth-child(1) {
  grid-column-start: span 2;
}

.container-img .box-img.box-img:nth-child(4) {
  grid-row-start: span 2;
}

.mainform {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-grow: 1;
  background-color: lightseagreen;
}

form {
  padding: 50px 55px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 400px;
  background-color: white;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.h2 {
  color: black;
  font-size: 35px;
  text-align: center;
  padding: 2rem;
}

.label {
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.input, textarea {
  padding: 10px 55px;
  border-radius: 25px;
  margin-bottom: 30px;
  background-color: white;
  border: 2px solid black;
  color: black;
  outline: none;
}

.input::-moz-placeholder, textarea::-moz-placeholder {
  color: #b5cab6;
}

.input::placeholder, textarea::placeholder {
  color: #b5cab6;
}

.form-txt {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.form-txt a {
  color: #76b28e;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.boton2 {
  font-size: 16px;
  color: aliceblue;
  border: 0;
  border-radius: 25px;
  background-color: black;
  box-shadow: rgba(25, 254, 0, 0.4);
  cursor: pointer;
  text-align: center;
  padding: 0.2rem;
  margin: 0.2rem;
}

.container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
}

.footer-menu {
  background-color: black;
}

.footer-content2 {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.footer-content h3 {
  margin-bottom: 10px;
}

.li {
  padding: 0.2rem;
  font-size: 15px;
  margin-bottom: 10px;
}

.li :hover {
  color: orangered;
}

.lista {
  width: 100%;
  flex-wrap: wrap;
  color: white;
  text-decoration: none;
}

.sub-footer-icons {
  background-color: rgb(255, 251, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  font-size: 2rem;
  gap: 1rem;
}

.copyright {
  display: flex;
  flex-direction: column;
  font-size: small;
  margin-inline: auto;
  justify-content: flex-end;
}

.whatsapp {
  position: fixed;
  bottom: 3.5rem;
  right: 0.2rem;
  display: flex;
}

@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .menu {
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .menu {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .nav1 {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .nav1 {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .nav1 {
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .nav1 {
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    padding: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
    padding: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    flex-direction: column;
    padding: 0.2rem;
  }
}
@media screen and (max-width: 320px) {
  .hero {
    flex-direction: column;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .hero-container {
    padding: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .hero-container {
    padding: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    padding: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .hero-container {
    flex-direction: column;
    padding: 1.4rem;
  }
}
@media screen and (max-width: 320px) {
  .hero-container {
    flex-direction: column;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .img-hero {
    max-width: 700px;
    gap: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .img-hero {
    flex-direction: column;
    max-width: 500px;
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .img-hero {
    flex-direction: column;
    max-width: 500px;
    gap: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .img-hero {
    flex-direction: column;
    max-width: 350px;
    gap: 1, 5rem;
  }
}
@media screen and (max-width: 320px) {
  .img-hero {
    flex-direction: column;
    max-width: 250px;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .hero-title {
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .hero-title {
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-title {
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .hero-title {
    flex-direction: column;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 320px) {
  .hero-title {
    flex-direction: column;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .hero-text1 {
    text-align: justify;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .hero-text1 {
    flex-direction: column;
    text-align: justify;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-text1 {
    flex-direction: column;
    text-align: justify;
    margin-bottom: 1rem;
    padding: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .hero-text1 {
    flex-direction: column;
    text-align: justify;
    margin-bottom: 0.5rem;
    padding: 1rem;
  }
}
@media screen and (max-width: 320px) {
  .hero-text1 {
    flex-direction: column;
    text-align: justify;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .hero-text2 {
    text-align: justify;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .hero-text2 {
    flex-direction: column;
    text-align: justify;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-text2 {
    flex-direction: column;
    text-align: justify;
    margin-bottom: 1rem;
    padding: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .hero-text2 {
    flex-direction: column;
    text-align: justify;
    margin-bottom: 0.5rem;
    padding: 1rem;
  }
}
@media screen and (max-width: 320px) {
  .hero-text2 {
    flex-direction: column;
    text-align: justify;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .btn {
    font-weight: 600;
    display: block;
    margin: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .btn {
    font-weight: 600;
    display: block;
    margin: 10px;
  }
}
@media screen and (max-width: 768px) {
  .btn {
    font-weight: 500;
    display: block;
    margin: 10px;
  }
}
@media screen and (max-width: 480px) {
  .btn {
    font-weight: 400;
    display: block;
    margin: 10px;
  }
}
@media screen and (max-width: 320px) {
  .btn {
    font-weight: 300;
    display: block;
    margin: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .hero2 {
    padding-block: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .hero2 {
    padding-block: 0.7rem;
  }
}
@media screen and (max-width: 480px) {
  .hero2 {
    padding-block: 0.4rem;
  }
}
@media screen and (max-width: 320px) {
  .hero2 {
    padding-block: 0.2rem;
  }
}

@media screen and (max-width: 480px) {
  .hero2-text {
    font-weight: 600;
  }
}
@media screen and (max-width: 320px) {
  .hero2-text {
    font-weight: 400;
  }
}

@media screen and (max-width: 1024px) {
  .galeria {
    padding: 3.3rem;
  }
}
@media screen and (max-width: 768px) {
  .galeria {
    padding: 3.3rem;
  }
}
@media screen and (max-width: 480px) {
  .galeria {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .galeria {
    padding: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .galeria-title {
    font-weight: 600;
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .galeria-title {
    font-weight: 400;
    gap: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .galeria-title {
    font-weight: 300;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 320px) {
  .galeria-title {
    font-weight: 200;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .galeria-container {
    flex-direction: column;
    max-width: 900px;
    gap: 1.5rem;
    margin-bottom: 0;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .galeria-container {
    flex-direction: column;
    max-width: 900px;
    gap: 1.5rem;
    margin-bottom: 0;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  .galeria-container {
    flex-direction: column;
    max-width: 450px;
    gap: 1rem;
    margin-bottom: 0;
    padding: 1.2rem;
  }
}
@media screen and (max-width: 320px) {
  .galeria-container {
    flex-direction: column;
    max-width: 270px;
    gap: 0.5rem;
    margin-bottom: 0;
    padding: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .img-hero {
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .img-hero {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .img-hero {
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .img-hero {
    max-width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .img-hero {
    max-width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .banner-sitiosweb {
    flex-direction: column;
    padding-block: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .banner-sitiosweb {
    flex-direction: column;
    padding-block: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .banner-sitiosweb {
    flex-direction: column;
    padding-block: 0.9rem;
  }
}
@media screen and (max-width: 480px) {
  .banner-sitiosweb {
    flex-direction: column;
    padding-block: 0.7rem;
  }
}
@media screen and (max-width: 320px) {
  .banner-sitiosweb {
    flex-direction: column;
    padding-block: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .container-sitiosweb {
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .container-sitiosweb {
    flex-direction: column;
    padding: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .container-sitiosweb {
    flex-direction: column;
    padding: 2rem;
  }
}
@media screen and (max-width: 320px) {
  .container-sitiosweb {
    flex-direction: column;
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .texto1-lado {
    text-align: justify;
  }
}
@media screen and (max-width: 480px) {
  .texto1-lado {
    text-align: justify;
  }
}
@media screen and (max-width: 320px) {
  .texto1-lado {
    padding: 1.6rem;
    text-align: justify;
  }
}

@media screen and (max-width: 1024px) {
  .galeriaweb-container {
    padding: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .galeriaweb-container {
    flex-direction: column;
    padding: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .galeriaweb-container {
    flex-direction: column;
    padding: 2.7rem;
  }
}
@media screen and (max-width: 320px) {
  .galeriaweb-container {
    flex-direction: column;
    padding: 2.7rem;
  }
}

@media screen and (max-width: 480px) {
  .barra-web {
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .barra-web {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .galeria-clientes {
    flex-direction: column;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .galeria-title3 {
    flex-direction: column;
    padding: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .galeria-title3 {
    flex-direction: column;
    padding: 1rem;
  }
}
@media screen and (max-width: 320px) {
  .galeria-title3 {
    flex-direction: column;
    padding: 0.1rem;
  }
}

@media screen and (max-width: 1024px) {
  .iconos-marketing {
    padding: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .iconos-marketing {
    flex-direction: column;
    padding: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .iconos-marketing {
    flex-direction: column;
    padding: 2.7rem;
  }
}
@media screen and (max-width: 320px) {
  .iconos-marketing {
    flex-direction: column;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .container-consultoria {
    padding: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .container-consultoria {
    flex-direction: column;
    padding: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .container-consultoria {
    flex-direction: column;
    padding: 2.7rem;
  }
}
@media screen and (max-width: 320px) {
  .container-consultoria {
    flex-direction: column;
    padding: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .texto-lado {
    flex-direction: column;
    text-align: justify;
  }
}
@media screen and (max-width: 480px) {
  .texto-lado {
    flex-direction: column;
    padding: 0.5rem;
    text-align: justify;
  }
}
@media screen and (max-width: 320px) {
  .texto-lado {
    flex-direction: column;
    padding: 1rem;
    text-align: justify;
  }
}

@media screen and (max-width: 1024px) {
  .container2-consultoria {
    padding: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .container2-consultoria {
    flex-direction: column;
    padding: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .container2-consultoria {
    flex-direction: column;
    padding: 2.7rem;
  }
}
@media screen and (max-width: 320px) {
  .container2-consultoria {
    flex-direction: column;
    padding: 2.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .texto2-lado {
    padding: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .texto2-lado {
    flex-direction: column;
    text-align: justify;
  }
}
@media screen and (max-width: 480px) {
  .texto2-lado {
    flex-direction: column;
    padding: 0.5rem;
    text-align: justify;
  }
}
@media screen and (max-width: 320px) {
  .texto2-lado {
    flex-direction: column;
    padding: 1rem;
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .clientes {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .clientes {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 320px) {
  .clientes {
    flex-direction: column;
    padding: 1.5rem;
    text-align: center;
  }
}

.clientes:hover {
  color: blue;
  background-color: yellow;
}

@media screen and (max-width: 1024px) {
  .container-img {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: 200px;
  }
  .container-img .box-img:nth-child(1) {
    grid-column-start: span 1;
  }
}
@media screen and (max-width: 500px) {
  .container-img {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-img .box-img:nth-child(1) {
    height: 200px;
  }
}
@media screen and (max-width: 320px) {
  .form {
    flex-direction: column;
    padding: 0px 25px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 200px;
  }
}

@media screen and (max-width: 320px) {
  .input, textarea {
    flex-direction: column;
    padding: 5px 25px;
    border-radius: 12px;
    margin-bottom: 15px;
    background-color: white;
    border: 2px solid black;
    color: black;
    outline: none;
  }
}

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .footer-content {
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .footer-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .copyright {
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .copyright {
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  .copyright {
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .whatsapp {
    flex-direction: column;
    right: 0.2rem;
    bottom: 3.2rem;
  }
}
@media screen and (max-width: 1024px) {
  .whatsapp {
    flex-direction: column;
    right: 0.2rem;
    bottom: 3.2rem;
  }
}
@media screen and (max-width: 768px) {
  .whatsapp {
    flex-direction: column;
    right: 0.05rem;
    bottom: 3.2rem;
  }
}
@media screen and (max-width: 480px) {
  .whatsapp {
    flex-direction: column;
    right: 0.08rem;
    bottom: 3.2rem;
  }
}
@media screen and (max-width: 320px) {
  .whatsapp {
    flex-direction: column;
    right: 0.1rem;
    bottom: 3.2rem;
  }
}/*# sourceMappingURL=styles.css.map */