// Menu de abajo
.container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
}

.footer-menu {
    background-color: black;
}

.footer-content2 {
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}

.footer-content h3 {
    margin-bottom: 10px;
}

.li {
    padding: .2rem;
    font-size: 15px;
    margin-bottom: 10px;
}

.li :hover {
    color: orangered;
}

.lista {    
    width: 100%;
    flex-wrap: wrap; 
    color: white;
    text-decoration: none;
}

// Sub footer 
.sub-footer-icons {
    background-color: rgb(255, 251, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    font-size: 2rem;
    gap: 1rem;  
}
    .copyright {
        display: flex;
        flex-direction: column;
        font-size: small;
        margin-inline: auto;
        justify-content: flex-end;
    }

// chat bot de whatsapp

.whatsapp {
    position: fixed;
    bottom: 3.5rem;
    right: .2rem;
    display: flex;
}

