// Menu de abajo

.sub-menu {    
    width: 100%;
    flex-wrap: wrap; 
    padding: 1rem;
    display: flex;
    gap: 1rem; 
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    width: 100%;
}

// Sub footer 
.sub-footer-icons {
    background-color: rgb(255, 251, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    font-size: 2rem;
    gap: 1rem;  
}
    .copyright {
        display: flex;
        flex-direction: column;
        font-size: small;
        margin-inline: auto;
        justify-content: flex-end;
    }

// chat bot de whatsapp

.whatsapp {
    position: fixed;
    bottom: 6rem;
    right: 1rem;
    display: flex;
}