// Pagina portfolio con grid

.clientes {
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2rem;
    font-weight: 800;
    flex-wrap: wrap;
    gap: 4rem; 
}
    .clientes:hover {
        color: blue;
        background-color: yellow;
    }

    .grid-container {
        height: 100vh;
        display: grid;
        padding: 2rem;
        grid-template-columns: repeat(8, fr);
        grid-template-rows: repeat(2, fr);
        grid-template-areas: 
        "logo-gallery1 logo-gallery2  logo-gallery3 logo-gallery4"
        "logo-gallery5 logo-gallery6  logo-gallery7 logo-gallery8";
        column-gap: 10px;
        row-gap: 15px;
    }

    .hijo {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6%;
    }

    .logo-gallery1 {
        background-color:rgb(250, 6, 6);
        grid-area: logo-gallery1;
    }

    .logo-gallery2 {
        background-color:rgb(194, 129, 129);
        grid-area: logo-gallery2;
    }

    .logo-gallery3 {
        background-color:rgb(157, 255, 0);
        grid-area: logo-gallery3;
    }

    .logo-gallery4 {
        background-color:rgb(11, 156, 19);
        grid-area: logo-gallery4;
    }

    .logo-gallery5 {
        background-color:rgb(6, 94, 209);
        grid-area: logo-gallery5;
    }

    .logo-gallery6 {
        background-color:rgb(150, 17, 190);
        grid-area: logo-gallery6;
    }
    
    .logo-gallery7 {
        background-color:rgb(69, 2, 124);
        grid-area: logo-gallery7;
    }
    .logo-gallery8 {
        background-color:rgb(107, 1, 1);
        grid-area: logo-gallery8;
    }

// Modo responsive del grid 

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "logo-gallery1  logo-gallery2"
        "logo-gallery3  logo-gallery4"
        "logo-gallery5  logo-gallery6"
        "logo-gallery7  logo-gallery8"
        ;
    }
}

    @media (max-width: 1024px) {
        .grid-container {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 2fr  2fr  1fr  1fr;
            grid-template-areas: 
            "logo-gallery1  logo-gallery2"
            "logo-gallery3  logo-gallery4"
            "logo-gallery5  logo-gallery6"
            "logo-gallery7  logo-gallery8"
            ;
        }
    }
    
    @media (max-width: 768px) {
        .grid-container {
            grid-template-columns: 1fr;
            grid-template-rows: 60fr 60fr 60fr 60fr 60fr 20fr 20fr 20fr;
            grid-template-areas: 
            "logo-gallery1"
            "logo-gallery2"
            "logo-gallery3"
            "logo-gallery4"
            "logo-gallery5"
            "logo-gallery6"
            "logo-gallery7"
            "logo-gallery8"
            ;
        }
    }
    
    @media (max-width: 600px) {
        .grid-container {
            grid-template-columns: 1fr;
            grid-template-rows: 60fr 60fr 60fr 60fr 20fr 20fr 20fr 20fr;
            grid-template-areas: 
            "logo-gallery1"
            "logo-gallery2"
            "logo-gallery3"
            "logo-gallery4"
            "logo-gallery5"
            "logo-gallery6"
            "logo-gallery7"
            "logo-gallery8"
            ;
        }
    }
    
    @media (max-width: 480px) {
        .grid-container {
            grid-template-columns: 1fr;
            grid-template-rows: 60fr 60fr 20fr 20fr 20fr 20fr 20fr 20fr;
            grid-template-areas: 
            "logo-gallery1"
            "logo-gallery2"
            "logo-gallery3"
            "logo-gallery4"
            "logo-gallery5"
            "logo-gallery6"
            "logo-gallery7"
            "logo-gallery8"
            ;
        }
    }
    
    @media (max-width: 320px) {
        .grid-container {
            grid-template-columns: 1fr;
            grid-template-rows: 80fr 20fr 20fr 20fr 20fr 20fr 20fr 20fr;
            grid-template-areas: 
            "logo-gallery1"
            "logo-gallery2"
            "logo-gallery3"
            "logo-gallery4"
            "logo-gallery5"
            "logo-gallery6"
            "logo-gallery7"
            "logo-gallery8"
            ;
        }
    }